In [1]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd

In [6]:
import os
os.getcwd()

'C:\\Users\\User\\KT_AIVLE\\프로젝트\\미니 프로젝트 1차'

In [10]:
# 데이터 불러오기
data = pd.read_csv('../../데이터/BUS_STATION_BOARDING_MONTH_202401.csv', sep=',', encoding='cp949')
data.head()

C:\Users\User\AppData\Local\Temp\ipykernel_13116\1149212856.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../../데이터/BUS_STATION_BOARDING_MONTH_202401.csv', sep=',', encoding='cp949')

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20240101,101,101번(화계사~동대문),105000092,06178,대광고등학교앞(00055),39,76,20240104
1,20240101,9408,9408번(구미동차고지~고속터미널),121000261,22337,헌인마을.서울농업기술센터(00042),1,0,20240104
2,20240101,9408,9408번(구미동차고지~고속터미널),121000260,22336,헌인마을.서울농업기술센터(00078),2,0,20240104
3,20240101,9408,9408번(구미동차고지~고속터미널),121000258,22334,헌인릉.강남서초과학화예비군훈련장(00043),0,2,20240104
4,20240101,9408,9408번(구미동차고지~고속터미널),121000257,22333,헌인릉.강남서초과학화예비군훈련장(00076),2,1,20240104

In [11]:
# 데이터 형태
data.shape

(1258860, 9)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258860 entries, 0 to 1258859
Data columns (total 9 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   사용일자        1258860 non-null  int64
 1   노선번호        1258860 non-null  object
 2   노선명         1258860 non-null  object
 3   표준버스정류장ID   1258860 non-null  object
 4   버스정류장ARS번호  1258860 non-null  object
 5   역명          1258860 non-null  object
 6   승차총승객수      1258860 non-null  int64
 7   하차총승객수      1258860 non-null  int64
 8   등록일자        1258860 non-null  int64
dtypes: int64(4), object(5)
memory usage: 86.4+ MB

* 어떤 데이터인가?
    * 서울 시의 버스 정류장 별 승하차 데이터

* 목적은 노선 추가가 필요한 자치구 선정이므로 자치구 별로 구분한다

In [14]:
data = data.rename(columns={'버스정류장ARS번호':'ARS'})

In [28]:
data.head()
bus_stop = data.copy()

In [43]:
# ARS로 지역 분류
print(bus_stop.info())

temp = []
for st in bus_stop['ARS'] :
    temp.append(st[0:2])

temp = np.array(temp)
bus_stop['지역구'] = temp
bus_stop.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258860 entries, 0 to 1258859
Data columns (total 9 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   사용일자       1258860 non-null  int64
 1   노선번호       1258860 non-null  object
 2   노선명        1258860 non-null  object
 3   표준버스정류장ID  1258860 non-null  object
 4   ARS        1258860 non-null  object
 5   역명         1258860 non-null  object
 6   승차총승객수     1258860 non-null  int64
 7   하차총승객수     1258860 non-null  int64
 8   등록일자       1258860 non-null  int64
dtypes: int64(4), object(5)
memory usage: 86.4+ MB
None

,사용일자,노선번호,노선명,표준버스정류장ID,ARS,역명,승차총승객수,하차총승객수,등록일자,지역구
0,20240101,101,101번(화계사~동대문),105000092,06178,대광고등학교앞(00055),39,76,20240104,06
1,20240101,9408,9408번(구미동차고지~고속터미널),121000261,22337,헌인마을.서울농업기술센터(00042),1,0,20240104,22
2,20240101,9408,9408번(구미동차고지~고속터미널),121000260,22336,헌인마을.서울농업기술센터(00078),2,0,20240104,22
3,20240101,9408,9408번(구미동차고지~고속터미널),121000258,22334,헌인릉.강남서초과학화예비군훈련장(00043),0,2,20240104,22
4,20240101,9408,9408번(구미동차고지~고속터미널),121000257,22333,헌인릉.강남서초과학화예비군훈련장(00076),2,1,20240104,22

In [45]:
# mapping
bus_stop['지역구'] = bus_stop['지역구'].map({
    '01': '종로구',
    '02': '중구',
    '03': '용산구',
    '04': '성동구',
    '05': '광진구',
    '06': '동대문구',
    '07': '중랑구',
    '08': '성북구',
    '09': '강북구',
    '10': '도봉구',
    '11': '노원구',
    '12': '은평구',
    '13': '서대문구',
    '14': '마포구',
    '15': '양천구',
    '16': '강서구',
    '17': '구로구',
    '18': '금천구',
    '19': '영등포구',
    '20': '동작구',
    '21': '관악구',
    '22': '서초구',
    '23': '강남구',
    '24': '송파구',
    '25': '강동구'})
bus_stop['지역구'].value_counts()

지역구
강남구     67912
서초구     62423
서대문구    58271
송파구     57708
마포구     57180
강서구     55158
은평구     54782
성북구     54436
관악구     52430
노원구     51346
영등포구    51319
중랑구     50252
동작구     45676
구로구     44092
종로구     43745
양천구     43476
동대문구    42765
강북구     38052
용산구     34816
중구      33010
강동구     32908
도봉구     32848
성동구     31591
금천구     30926
광진구     26823
Name: count, dtype: int64

In [46]:
bus_stop.shape

(1258860, 10)

In [50]:
# 결측치 제거
bus_stop = bus_stop.dropna()
# 컬럼별 결측치 확인
bus_stop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1153945 entries, 0 to 1258857
Data columns (total 10 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   사용일자       1153945 non-null  int64
 1   노선번호       1153945 non-null  object
 2   노선명        1153945 non-null  object
 3   표준버스정류장ID  1153945 non-null  object
 4   ARS        1153945 non-null  object
 5   역명         1153945 non-null  object
 6   승차총승객수     1153945 non-null  int64
 7   하차총승객수     1153945 non-null  int64
 8   등록일자       1153945 non-null  int64
 9   지역구        1153945 non-null  object
dtypes: int64(4), object(6)
memory usage: 96.8+ MB

In [53]:
# ARS 다시 정수로 변환
bus_stop['ARS'] = bus_stop.loc[:,'ARS'].astype(int)

In [60]:
# 자치구별 버스정류장 고유 개수 확인 후 변수로 저장
# 자치구별 groupby
bus_stop['bus_stop_count']=bus_stop.groupby('지역구', as_index=False).nunique()['ARS']

     지역구  사용일자  노선번호  노선명  표준버스정류장ID  ARS    역명  승차총승객수  하차총승객수  등록일자
0    강남구    31    98  104       1001  501  2155    1050     950    31
1    강동구    31    22   24        734  367   959     804     816    31
2    강북구    31    71   74        824  410  1085    1153    1018    31
3    강서구    31    51   54       1134  567  1702     864     796    31
4    관악구    31    83   88        940  468  1540    1444    1464    31
5    광진구    31    43   46        572  280   850     761     718    31
6    구로구    31    80   83        972  486  1312    1129     989    31
7    금천구    31    56   58        694  347   882     942     850    31
8    노원구    31    58   61       1012  496  1462    1014     937    31
9    도봉구    31    55   57        746  368   970     929     850    31
10  동대문구    31    74   79        628  308  1310    1011     924    31
11   동작구    31    97  103        883  441  1396    1043     966    31
12   마포구    31   103  111       1158  565  1689    1012     952    31
13  서대문구    31   109  119        924  460  1669     912     894    31
14   서초구    31    99  107       1214  602  1904    1155    1015    31
15   성동구    31    58   61        866  433   990     719     686    31
16   성북구    31    98  103       1218  599  1634    1017     902    31
17   송파구    31    60   65        940  470  1648     910     922    31
18   양천구    31    57   60        646  323  1235     810     772    31
19  영등포구    31   102  107        936  467  1573    1018    1026    31
20   용산구    31    69   76        651  326  1107     925     844    31
21   은평구    31    74   80        993  497  1609     911     899    31
22   종로구    31   105  115        714  357  1259     858     748    31
23    중구    31   102  112        348  174   985     907     855    31
24   중랑구    31    51   56        872  428  1460     776     700    31

In [96]:
bus_stop_count=bus_stop.groupby('지역구', as_index=False).nunique()['ARS']
# 중랑구 428개 노선 확인
bus_stop_count

0     501
1     367
2     410
3     567
4     468
5     280
6     486
7     347
8     496
9     368
10    308
11    441
12    565
13    460
14    602
15    433
16    599
17    470
18    323
19    467
20    326
21    497
22    357
23    174
24    428
Name: ARS, dtype: int64

In [76]:
temp.loc[temp['ARS']==7674]

,사용일자,노선번호,노선명,표준버스정류장ID,ARS,역명,승차총승객수,하차총승객수,등록일자,지역구,bus_stop_count
43608,20240102,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),1,1,20240105,중랑구,NaN
84449,20240103,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),0,1,20240106,중랑구,NaN
206641,20240106,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),3,0,20240109,중랑구,NaN
287124,20240108,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),0,2,20240111,중랑구,NaN
327856,20240109,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),1,4,20240112,중랑구,NaN
450342,20240112,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),1,0,20240115,중랑구,NaN
612051,20240116,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),0,1,20240119,중랑구,NaN
652849,20240117,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),1,0,20240120,중랑구,NaN
693641,20240118,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),0,1,20240121,중랑구,NaN
814818,20240121,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),2,0,20240124,중랑구,NaN
855341,20240122,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),0,1,20240125,중랑구,NaN
896148,20240123,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),0,2,20240126,중랑구,NaN
977959,20240125,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),0,1,20240128,중랑구,NaN
1018890,20240126,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),0,2,20240129,중랑구,NaN
1099424,20240128,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),1,2,20240131,중랑구,NaN
1139706,20240129,9409,9409번(구미동차고지~신사역),206000779,7674,이우중고(00005),1,0,20240201,중랑구,NaN

In [84]:
# 서울의 버스 정류장 데이터만 포함하고 있는 excel 파일 열기 ('1.1 bus_station_202401.xlsx')
only_seoul = pd.read_excel('../../데이터/서울시버스정류소위치정보(20240110).xlsx')
only_seoul.head()

     NODE_ID  ARS_ID           정류소명         X좌표        Y좌표 정류소타입
0  100000001    1001        종로2가사거리  126.987752  37.569806  중앙차로
1  100000002    1002    창경궁.서울대학교병원  126.996521  37.579433  중앙차로
2  100000003    1003      명륜3가.성대입구  126.998251  37.582580  중앙차로
3  100000004    1004       종로2가.삼일교  126.987613  37.568579  중앙차로
4  100000005    1005  혜화동로터리.여운형활동터  127.001744  37.586243  중앙차로

In [85]:
only_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11263 entries, 0 to 11262
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NODE_ID  11263 non-null  int64
 1   ARS_ID   11263 non-null  int64
 2   정류소명     11263 non-null  object
 3   X좌표      11263 non-null  float64
 4   Y좌표      11263 non-null  float64
 5   정류소타입    11263 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 528.1+ KB

In [93]:
only_seoul = only_seoul.rename(columns = {'ARS_ID':'ARS'})

# only_seoul과 bus_stop 병합
# inner 병합하면 서울 정류장 데이터만 남는다.
merged_data = pd.merge(bus_stop,only_seoul,on='ARS',how='inner')
merged_data.head()

,사용일자,노선번호,노선명,표준버스정류장ID,ARS,역명,승차총승객수,하차총승객수,등록일자,지역구,bus_stop_count,NODE_ID,정류소명,X좌표,Y좌표,정류소타입
0,20240101,101,101번(화계사~동대문),105000092,6178,대광고등학교앞(00055),39,76,20240104,동대문구,501.0,105000092,대광고등학교앞,127.025562,37.579778,일반차로
1,20240101,111,111번(민락동차고지~동대문),105000092,6178,대광고등학교앞(00063),10,3,20240104,동대문구,NaN,105000092,대광고등학교앞,127.025562,37.579778,일반차로
2,20240101,173,173번(월계동~연세대),105000092,6178,대광고등학교앞(00090),20,30,20240104,동대문구,NaN,105000092,대광고등학교앞,127.025562,37.579778,일반차로
3,20240101,144,144번(우이동~교대),105000092,6178,대광고등학교앞(00074),37,92,20240104,동대문구,NaN,105000092,대광고등학교앞,127.025562,37.579778,일반차로
4,20240101,N51,N51번(시흥동차고지~하계동차고지),105000092,6178,대광고등학교앞(00052),1,0,20240104,동대문구,NaN,105000092,대광고등학교앞,127.025562,37.579778,일반차로

In [94]:
merged_data.shape

(1150120, 16)

In [95]:
merged_data.drop(columns=['bus_stop_count'], inplace=True)
merged_data.shape

(1150120, 15)

In [98]:
# 구별 버스 정류장 개수 확인
merged_data.groupby('지역구', as_index=False).nunique()

,지역구,사용일자,노선번호,노선명,표준버스정류장ID,ARS,역명,승차총승객수,하차총승객수,등록일자,NODE_ID,정류소명,X좌표,Y좌표,정류소타입
0,강남구,31,98,104,1001,501,2155,1050,950,31,501,361,501,501,5
1,강동구,31,22,24,734,367,959,804,816,31,367,231,367,367,5
2,강북구,31,71,74,824,410,1085,1153,1018,31,410,241,409,410,3
3,강서구,31,51,54,1134,567,1702,864,796,31,567,381,567,567,5
4,관악구,31,81,86,936,466,1532,1444,1464,31,466,292,466,466,5
5,광진구,31,43,46,560,274,841,761,718,31,274,175,274,274,5
6,구로구,31,80,83,972,486,1312,1129,989,31,486,335,486,486,4
7,금천구,31,56,58,692,346,877,942,850,31,346,210,346,345,5
8,노원구,31,58,61,1010,495,1460,1014,937,31,495,343,495,495,4
9,도봉구,31,54,56,742,366,966,929,849,31,366,222,365,366,3
10,동대문구,31,74,79,626,307,1309,1011,924,31,307,222,307,307,5
11,동작구,31,93,99,871,435,1389,1043,966,31,435,288,435,435,6
12,마포구,31,100,108,1144,558,1676,1012,952,31,558,318,558,558,6
13,서대문구,31,109,119,916,456,1663,912,894,31,456,315,456,456,6
14,서초구,31,99,107,1214,602,1904,1155,1015,31,602,400,601,601,6
15,성동구,31,58,61,864,432,989,719,686,31,432,300,432,432,5
16,성북구,31,98,103,1210,595,1630,1017,902,31,595,386,595,594,3
17,송파구,31,60,65,940,470,1648,910,922,31,470,340,470,470,5
18,양천구,31,57,60,638,319,1231,810,772,31,319,225,319,319,4
19,영등포구,31,100,105,932,465,1570,1018,1026,31,465,310,465,465,6
20,용산구,31,69,76,651,326,1107,925,844,31,326,215,326,326,6
21,은평구,31,74,80,993,497,1609,911,899,31,497,309,497,497,6
22,종로구,31,105,115,712,356,1258,858,748,31,356,274,356,356,5
23,중구,31,102,112,346,173,985,907,855,31,173,133,173,173,6
24,중랑구,31,50,55,784,384,1413,776,691,31,384,234,384,384,5