<img src='https://blog.kakaocdn.net/dn/zy1Or/btqM39h0uLB/fHnntePsHiwAIFStdqGsLk/img.png' width=300 align="left"/>

# pandas 기초1 : 데이터프레임 생성 및 탐색

## 1.데이터프레임 생성

### (1) 데이터프레임 이해

#### 1) 데이터프레임이란


- Pandas 사용 목적이 데이터프레임을 사용하기 위한 목적으로 봐도 됩니다.
- 데이터를 처리, 조회, 분석하는 가장 효율적인 방법이 데이터프레임을 사용하는 것입니다.
- 일반적으로 접하게 되는 **테이블** 형태, **엑셀** 형태로 생각하시면 됩니다.
- 직접 만들 수 있으나 보통은 **csv 파일**, **엑셀 파일** 또는 DB에서 읽어옵니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe_sample.png' width=800 align="left"/>

#### 2) 데이터프레임 형태

- 데이터프레임은 **인덱스(=행 이름)**와 **열 이름**이 있고 없고에 따라 다른 형태를 갖습니다.
- 인덱스란 행을 지정할 때 사용하는 정보이고, 열 이름은 열을 지정할 때 사용하는 정보입니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe05.png' width=450 align="left"/>

**① 인덱스와 열 이름이 없는 형태**

- 우선 인덱스와 열 이름이 없는 데이터프레임 형태입니다.
- 열 이름이 없는 데이터프레임은 실무에서는 자주 볼 수 없을 것입니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe01.png' width=380 align="left"/>

**② 열 이름을 지정한 형태**

- 열 이름만 지정한 데이터프레임 형태입니다.
- 특별히 인덱스를 지정할 필요가 없는 경우가 많으므로 자주 보게 되는 형태입니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe02.png' width=380 align="left"/>

**③ 인덱스와 열 이름을 지정한 형태**

- 인덱스와 열 이름 모두를 지정한 데이터프레임 형태입니다.
- 대부분 주식 시세와 같은 날짜가 인덱스로 지정되는 경우입니다.

<img src='https://raw.githubusercontent.com/Jangrae/img/master/dataframe03.png' width=350 align="left"/>

### (2) 데이터프레임 직접 만들기

- **pd.DataFrame()** 함수를 사용해 데이터프레임을 직접 만들 수 있습니다.
- 대부분 리스트, 딕셔너리, Numpy 배열로부터 데이터프레임을 만듭니다.
- 데이터프레임을 만들기 위해서는 다음 세 가지를 위한 데이터가 필요합니다.
    - 데이터
    - 열 이름
    - 인덱스 이름
- 열 이름을 지정하지 않으면 **열 번호**에 기반한 정수(0, 1, 2...)가 열 이름이 됩니다.
- 인덱스 이름을 지정하지 않으면 **행 번호**에 기반한 정수(0, 1, 2...)가 인덱스 이름이 됩니다.

#### 1) 라이브러리 불러오기

- 데이터프레임을 사용하기 위해서 pandas 라이브러리를 pd 별칭을 주어 불러옵니다.

In [ ]:
# 라이브러리 불러오기
import pandas as pd

#### 2) 딕셔너리로 만들기

- 딕셔너리로 데이터프레임을 만들면 딕셔너리의 **키**가 **열 이름**이 됩니다.
- 인덱스를 지정하지 않으면 행 번호가 인덱스가 됩니다.

In [ ]:
# 딕셔너리 만들기
dict1 = {'Name': ['Gildong', 'Sarang', 'Jiemae', 'Yeoin'],
        'Level': ['Gold', 'Bronze', 'Silver', 'Gold'],
        'Score': [56000, 23000, 44000, 52000]}

# 확인
print(dict1)

In [ ]:
# 데이터프레임 만들기
df = pd.DataFrame(dict1)

# 확인
print(df.head())

### (3) CSV파일 읽어오기

- 분석용 데이터는 대부분 파일에서 읽어 가져오니 잘 익혀야 할 기능입니다.
- **read_csv()** 함수를 사용해서 CSV 파일에서 데이터를 읽어옵니다.

**[titanic_simple 데이터 셋 정보]**

- PassengerId : 승객번호
- Survived : 생존여부(1:생존, 0:사망)
- Pclass : 객실등급(1:1등급, 2:2등급, 3:3등급)
- Name : 승객이름
- Sex : 성별(male, female)
- Age : 나이
- Fare : 운임($)
- Embarked : 승선지역(Southhampton, Cherbourg, Queenstown)

In [ ]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv'
data = pd.read_csv(path)  

# 상위 10행만 확인
data.head(10)

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 아래 주어진 경로의 파일에서 데이터를 읽어와 데이터프레임 temp 만들어 보세요.

- 파일 경로: 'https://raw.githubusercontent.com/DA4BAM/dataset/master/Attrition_simple2.CSV'

**[Attrition 데이터 셋 정보]**

|	구분	|	변수 명	|	내용	|	type	|	비고	|
|----|----|----|----|----|
|	**Target**	|	**Attrition**	|	이직여부, Yes , No	|	범주	| 1- 이직, 0- 잔류		|
|	feature	|	Age	|	나이	|	숫자	|		|
|	feature	|	DistanceFromHome	|	집-직장 거리	|	숫자	|	마일	|
|	feature	|	EmployNumber	|	사번	|	숫자	| 	|
|	feature	|	Gender	|	성별	|	범주	| Male, Female		|
|	feature	|	JobSatisfaction	|	직무 만족도	|	범주	|	1 Low, 2 Medium, 3 High, 4 Very High	|
|	feature	|	MaritalStatus	|	결혼상태	|	범주	| Single, Married, Divorced		|
|	feature	|	MonthlyIncome	|	월급	|	숫자	| 달러	|
|	feature	|	OverTime	|	야근여부	|	범주	|	Yes, No	|
|	feature	|	PercentSalaryHike	|	전년대비 급여인상율	|	숫자	|	%	|
|	feature	|	TotalWorkingYears	|	총 경력 연수	|	숫자	|		|

In [ ]:
# 데이터 읽어오기


# 상위 5개 확인

[문2] csv file로부터 읽어옵시다.

- 파일 이름 : 'airquality_simple.csv'
- 파일을 home directory로 복사해 넣고 읽어 옵니다.

**[airquality_simple 데이터 셋 정보]**

- Ozone : 오존농도
- Solar.R: 태양복사열
- Wind: 풍속
- Temp: 기온
- Month: 월
- Day: 일

In [ ]:
# 데이터 읽어오기


# 상위 5개 확인

## 2.데이터프레임 탐색

- 파일에서 불러온 데이터의 크기, 내용, 분포, 누락된 값 등을 확인할 수 있어야 합니다.
- 확인된 내용을 통해 데이터 전처리 필요 여부를 결정합니다.
- 데이터를 알아야 데이터를 분석할 수 있습니다.

In [ ]:
# 라이브러리 불러오기
import pandas as pd

* Attrition 데이터 불러오기

**[Attrition 데이터 셋 정보]**

|	구분	|	변수 명	|	내용	|	type	|	비고	|
|----|----|----|----|----|
|	**Target**	|	**Attrition**	|	이직여부, Yes , No	|	범주	| 1- 이직, 0- 잔류		|
|	feature	|	Age	|	나이	|	숫자	|		|
|	feature	|	DistanceFromHome	|	집-직장 거리	|	숫자	|	마일	|
|	feature	|	EmployNumber	|	사번	|	숫자	| 	|
|	feature	|	Gender	|	성별	|	범주	| Male, Female		|
|	feature	|	JobSatisfaction	|	직무 만족도	|	범주	|	1 Low, 2 Medium, 3 High, 4 Very High	|
|	feature	|	MaritalStatus	|	결혼상태	|	범주	| Single, Married, Divorced		|
|	feature	|	MonthlyIncome	|	월급	|	숫자	| 달러	|
|	feature	|	OverTime	|	야근여부	|	범주	|	Yes, No	|
|	feature	|	PercentSalaryHike	|	전년대비 급여인상율	|	숫자	|	%	|
|	feature	|	TotalWorkingYears	|	총 경력 연수	|	숫자	|		|

In [ ]:
# 데이터 읽어오기
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/Attrition_simple2.CSV'
data = pd.read_csv(path)  

# 상위 5개 확인
data.head(5)

**[참고] 자주 사용할 만한 메서드들**

- head(): 상위 데이터 확인
- tail(): 하위 데이터 확인
- shape: 데이터프레임 크기
- values: 값 정보 확인(저장하면 2차원 numpy 배열이 됨)
- columns: 열 정보 확인
- dtypes: 열 자료형 확인
- info(): 열에 대한 상세한 정보 확인
- describe(): 기초통계정보 확인

### (1) 상위, 하위 일부 데이터, 크기 확인

- **head(*n*), tail(*n*)** 메소드를 사용해 앞 뒤 데이터를 확인합니다.
- 개수를 지정하지 않으면 기본적으로 5개 행이 조회됩니다.

#### **1) 상위 데이터 확인**

In [ ]:
# 상위 10개 행 데이터
data.head(10)

#### **2) 하위 데이터 확인**

In [ ]:
# 하위 3개 행 데이터
data.tail(3)

#### **3) 크기 확인 .shape**

- **(rows, cols)** 값을 갖는 **튜플** 형태로 확인이 가능합니다.
- 데이터를 분석할 때 처리할 **데이터 양을 확인**하는 목적으로 많이 사용 합니다.

In [ ]:
# 행 수와 열 수 확인
data.shape

### (2) 열, 행 정보 보기

#### **1) 열 확인**

In [ ]:
# 열 확인
print(data.columns)
print(data.columns.values) # np array 형태

In [ ]:
# 데이터프레임을 리스트 함수에 넣으면 열 이름이 리스트로 반환됨.
list(data)

#### **2) 자료형 확인**
- int64: 정수형 데이터(int)
- float64: 실수형 데이터(float)
- object: 문자열 데이터(string)

In [ ]:
# 열 자료형 확인
data.dtypes

In [ ]:
# 열 자료형, 값 개수 확인
data.info()

#### **3) 기초통계정보 확인**

- describe() 메소드는 데이터에 대한 많은 정보를 제공하는 매우 중요한 메소드입니다.
- 데이터분석과정에서 자세히 살펴볼 예정이므로 여기서는 **가볍게 실행만** 해봅니다.
- 개수(count), 평균(mean), 표준편차(std), 최솟값(min), 사분위값(25%, 50%, 75%), 최댓값(max)을 표시합니다.

In [ ]:
# 기초통계정보
data.describe()

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 경로의 파일을 읽어와 air 데이터프레임으로 저장하세요.

- 파일 경로: 'https://raw.githubusercontent.com/DA4BAM/dataset/master/airquality_simple.csv'

In [ ]:
# 데이터 읽어오기

[문2] 데이터프레임 관련 정보를 확인하세요.

In [ ]:
# 상위 데이터 확인

In [ ]:
# 크기 확인

In [ ]:
# 열 이름 확인

In [ ]:
# 열 자료형, 값 개수 확인

In [ ]:
# 기초통계정보 확인

### (3) 정렬해서 보기

- 인덱스를 기준으로 정렬하는 방법과 특정 열을 기준으로 정렬하는 방법이 있습니다.
- **sort_values()** 메소드로 **특정 열**을 기준으로 정렬합니다.
- **ascending** 옵션을 설정해 오름차순, 내림차순을 설정할 수 있습니다.
    - ascending=True: 오름차순 정렬(기본값)
    - ascending=False: 내림차순 정렬

In [ ]:
# 단일 열 정렬
data.sort_values(by='MonthlyIncome', ascending=False)

In [ ]:
# 복합 열 정렬
data.sort_values(by=['JobSatisfaction', 'MonthlyIncome'], ascending=[True, False])

In [ ]:
# 복합 열 정렬 : 별도로 저장하고, 인덱스 reset
temp = data.sort_values(by=['JobSatisfaction', 'MonthlyIncome'], ascending=[True, False])
temp.reset_index(drop = True)

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 경로의 파일을 읽어와 데이터프레임으로 저장하세요.

- 파일 경로: 'https://raw.githubusercontent.com/DA4BAM/dataset/master/airquality_simple.csv'

In [ ]:
# 데이터 읽어오기

[문2] Ozone 열을 기준으로 내림차순 정렬해서 조회하세요.

In [ ]:
# 내림차순 정렬

[문3] Wind 열을 기준으로 내름차순 정렬해서 상위 10개 행만 조회하세요.

In [ ]:
# 오름차순 정렬

### (4) 기본 집계

- 데이터를 좀더 이해하기 위해 고유값, 합, 평균, 최댓값, 최솟값 등을 확인합니다.

#### 1) 고유값 확인

- 범주형 열(열이 가진 값이 일정한 값인 경우, 성별, 등급 등)인지 확인할 때 사용합니다.

**① 고유값 확인**

- unique() 메소드로 고유값을 확인하며, 결괏값은 배열 형태가 됩니다.

In [ ]:
# MaritalStatus 열 고유값 확인
print(data['MaritalStatus'].unique())

**② 고유값과 개수 확인**

- value_counts() 메소드로 고유값과 그 개수를 확인하며, 결괏값은 시리즈 형태가 됩니다.

In [ ]:
# MaritalStatus 열 고유값 개수 확인
print(data['MaritalStatus'].value_counts())

#### 2) 기본 집계 메소드 사용

- 데이터를 1차 집계 한 후 분석을 진행하는 경우가 많으므로 필히 알아두어야 할 내용입니다.
- 이후에 배우는 Groupby 기능에서 같이 사용됩니다.

In [ ]:
# MonthlyIncome 열 합계 조회
print(data['MonthlyIncome'].sum())

In [ ]:
# MonthlyIncome 열 최댓값 조회
print(data['MonthlyIncome'].max())

In [ ]:
# 'Age', 'MonthlyIncome' 열 평균값 확인
print(data[['Age', 'MonthlyIncome']].mean())

In [ ]:
# 'Age', 'MonthlyIncome' 열 중앙값 확인
print(data[['Age', 'MonthlyIncome']].median())

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 경로의 파일을 읽어와 데이터프레임으로 저장하세요.

- 파일 경로: 'https://raw.githubusercontent.com/DA4BAM/dataset/master/airquality_simple.csv'

In [ ]:
# 데이터 읽어오기

[문2] Ozone 최댓값을 확인하세요.

[문3] Temp, Wind 최솟값을 확인하세요.

### (5) 복습문제

1) pandas 라이브러리를 pd 별칭을 주어 불러오세요.

In [ ]:
# 라이브러리 불러오기

2) read_csv() 함수를 사용해 다음 경로의 파일을 불러와 **titanic** 데이터프레임을 만드세요.

- 파일 경로: https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv

**[titanic_simple 데이터 셋 정보]**

- PassengerId : 승객번호
- Survived : 생존여부(1:생존, 0:사망)
- Pclass : 객실등급(1:1등급, 2:2등급, 3:3등급)
- Name : 승객이름
- Sex : 성별(male, female)
- Age : 나이
- Fare : 운임($)
- Embarked : 승선지역(Southhampton, Cherbourg, Queenstown)

In [ ]:
# 파일 읽어오기

3) head() 메소드로 상위 10개 행 데이터를 확인하세요.

In [ ]:
# 상위 10행 출력

4) shape 속성을 사용해 행과 열의 개수를 확인하세요.

In [ ]:
# 크기 확인

5) dtype 속성을 사용해 각 열의 데이터 형식을 확인하세요.

In [ ]:
# 열 데이터 형식 확인

6) info() 메소드를 사용해 각 열의 값 개수와 데이터 형식 등을 한 번에 확인하세요.

In [ ]:
# 열 정보 확인

7) describe() 함수를 사용해 기초통계정보를 확인하세요.

In [ ]:
# 기초통계정보 확인

8) value_counts() 메소드를 사용해 다음 두 열의 고유값과 그 개수를 각각 
확인하세요.

- Embarked
- Pclass

In [ ]:
# 고유값 개수 확인

9) Age, Fare 두 열의 최댓값을 한 번에 확인하세요.

10) Fare 열을 기준으로 내림차순 정렬해서 상위 10개를 조회하세요.